- In this notebook we load the preprocessed dataset from preprocessing1.py and the final trained model we choose to implement;
- we check the the performance on the test set of that model;
- we comapre them with the initial baselines;

In [1]:
string = " In this notebook we load the preprocessed dataset from preprocessing1.py and the final trained model we choose to implement; \n we check the the performance on the test set of that model;\n  we comapre them with the initial baselines;"
print(string)
print()

 In this notebook we load the preprocessed dataset from preprocessing1.py and the final trained model we choose to implement;
 we check the the performance on the test set of that model;
  we comapre them with the initial baselines;

In [2]:
# dataframe management
import pandas as pd             

# numerical computation
import numpy as np

# visualization library
import seaborn as sns
sns.set(style="white", color_codes=True)
sns.set_context(rc={"font.family":'sans',"font.size":24,"axes.titlesize":24,"axes.labelsize":24})   

# seaborn can generate several warnings, we ignore them
import warnings 
warnings.filterwarnings("ignore")

import sklearn.metrics as mt
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score

In [3]:
def F1Score ( precision, recall):
    f1 = 2 * precision * recall / (precision + recall)
    return f1

In [5]:
print("Loading the test set...")
print()
TestSet = pd.read_csv('./testSet.csv')
TestSet.head() #show the first n instances

Loading the test set...

,Unnamed: 0,aaa,aadhaar,aadhar,aakash,aalto,aaron,aathar,abathroom,abbi,...,zookeep,zoolog,zoologist,zoroastrian,zstsn,zubeen,zuckerberg,zuni,zusak,TARGET
0,4130,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,740,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7389,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6133,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1873,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
TestSet = TestSet.drop('Unnamed: 0', 1)
TestSet.head()

,aaa,aadhaar,aadhar,aakash,aalto,aaron,aathar,abathroom,abbi,abbrevi,...,zookeep,zoolog,zoologist,zoroastrian,zstsn,zubeen,zuckerberg,zuni,zusak,TARGET
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [7]:
y = TestSet['TARGET']
variables = TestSet.columns[TestSet.columns!='TARGET']
y.head()

0    0
1    0
2    0
3    0
4    1
Name: TARGET, dtype: int64

In [8]:
X = TestSet[variables]
X.head()

,aaa,aadhaar,aadhar,aakash,aalto,aaron,aathar,abathroom,abbi,abbrevi,...,zone,zookeep,zoolog,zoologist,zoroastrian,zstsn,zubeen,zuckerberg,zuni,zusak
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

##### Let's check the Performance of the really first baseline: the Majority voting classifier.
##### In the train the negative instances are around the 94% of the instances, so a test time this classifier will predict everithing as negative.

In [9]:
string ="Let's check the Performance of the really first baseline: the Majority voting classifier. \n In the train the negative instances are around the 94% of the instances, so a test time this classifier will predict everithing as negative."
print(string)
print()

Let's check the Performance of the really first baseline: the Majority voting classifier.
 In the train the negative instances are around the 94% of the instances, so a test time this classifier will predict everithing as negative.

In [10]:
print(" Performance of the really first baseline: the Majority voting classifier:")
print()

 Performance of the really first baseline: the Majority voting classifier:

In [11]:
#let's take the predictions for majority classifiers
predictions_majorityVoting = np.zeros((y.size,), dtype=np.int)

In [12]:
acc_MV = mt.accuracy_score(predictions_majorityVoting,y)
print( "Accuracy: " + str(acc_MV))

Accuracy: 0.938

In [13]:
print("Precision %3.2f" % precision_score(y,predictions_majorityVoting))
print("Recall    %3.2f" % recall_score(y,predictions_majorityVoting))
print("F1    %3.2f" % F1Score( precision_score(y,predictions_majorityVoting), recall_score(y,predictions_majorityVoting)))

Precision 0.00
Recall    0.00
F1    nan

##### Now let's check the performance of a better baseline: NaiveBayes classifier trained over a dataset with the first basic preprocessing and without oversampling. In this way we can check then, how a more sophisticated preprocessing (take a look at Preprocessesing1.py) and Oversampling helped in the task,

In [14]:
#to perform predictions we need to load the testSet with same instances but different preprocessing:
TestSet0 = pd.read_csv('./testSet0.csv')
TestSet0.head() #show the first n instances

,Unnamed: 0,!,"!""?","""","""/proj3/mypipe""","""100%","""104""","""200","""700000""","""?",...,“writing”,…,…just,…only,₹,"₹15,000",√,√3√3√3√3√3?,❓?,TARGET
0,4130,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,740,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7389,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6133,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1873,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

##### Again: note how this bagOfWord model includes also a lot of irrelevant words

In [15]:
TestSet0 = TestSet0.drop('Unnamed: 0', 1)
y0 = TestSet0['TARGET']
variables0 = TestSet0.columns[TestSet0.columns!='TARGET']
X0 = TestSet0[variables0]
X0.head()

,!,"!""?","""","""/proj3/mypipe""","""100%","""104""","""200","""700000""","""?","""a",...,“white,“writing”,…,…just,…only,₹,"₹15,000",√,√3√3√3√3√3?,❓?
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
print(" Performance of the second baseline:NaiveBayes on the basic preprocess and no OverSampling:")
print()
#load 2nd baseline
from joblib import load
model = load('NaiveBayesBaseline.joblib')

 Performance of the second baseline:NaiveBayes on the basic preprocess and no OverSampling:

In [17]:
predictions_naiveBayes = model.predict(X0)

In [18]:
acc_NB = mt.accuracy_score(predictions_naiveBayes,y0)
print( "Accuracy: " + str(acc_NB))

Accuracy: 0.933

In [19]:
print("Precision %3.2f" % precision_score(y0,predictions_naiveBayes))
print("Recall    %3.2f" % recall_score(y0,predictions_naiveBayes))
print("F1    %3.2f" % F1Score( precision_score(y0,predictions_naiveBayes), recall_score(y0,predictions_naiveBayes)))

Precision 0.41
Recall    0.18
F1    0.25

##### Finally let's load the model we choose to implement and check how it performs:

In [20]:
print(" Performance of the final model:")
print(" Ridje after preprocessing1, Oversampling and Hyperparameter tuning.")
print()
#load model
final_model = load('FinalModel.joblib')

 Performance of the final model:
 Ridje after preprocessing1, Oversampling and Hyperparameter tuning.

In [21]:
predictions_finalModel =final_model.predict(X)

In [22]:
acc = mt.accuracy_score(predictions_finalModel,y)
print( "Accuracy: " + str(acc))

Accuracy: 0.933

In [23]:
print("Precision %3.2f" % precision_score(y,predictions_finalModel))
print("Recall    %3.2f" % recall_score(y,predictions_finalModel))
print("F1    %3.2f" % F1Score( precision_score(y,predictions_finalModel), recall_score(y,predictions_finalModel)))

Precision 0.47
Recall    0.63
F1    0.54